body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}

.name-color {
  color: orangered;
}

section {
  display: flex;
}
.half-width {
  width: 50%;
  padding-left: 2%;
}
.half-width img {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10%;
}

.link-button {
  text-decoration: none;
  padding: 10px 40px;
  background-image: linear-gradient(orange, tomato);
  border-radius: 5px;
  color: black;
  font-weight: 700;
}

.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
